################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Inventario.csproj.dtbcache.json
/.vs/Inventario/FileContentIndex/5c12ff40-b8af-48b2-8fd9-36b287854cc2.vsidx
/.vs/Inventario/FileContentIndex
